.modal {
  display: inline-block;
  position: absolute;
  left: 50%;
  /* top: 10%; */
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 960px;
  width: max-content;
  min-width: 200px;
  min-height: 160px;
  border-radius: 7px;
  padding: 50px 60px;
  background-color: var(--white);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  transform: translateX(-50%);
}
.topPost {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.title {
  font-size: 20px;
  line-height: 23px;
}
.content {
  overflow-y: auto;
}
.description {
  font-size: 14px;
  line-height: 16px;
}
.close {
  align-self: flex-start;
  margin: -20px -30px;
  width: 21px;
  height: 21px;
  color: var(--black);
}

.sortContainer {
  padding: 13px 0;
}
.labelComment {
  font-size: 14px;
  line-height: 16px;
  color: var(--grey99);
}
.selectComment {
  border: none;
  font-size: 14px;
  line-height: 16px;
  color: var(--orange);
  background-color: transparent;
}
.divider {
  border: 1px solid var(--greyD9);
}
