.s4 {
  padding: 0 4px 0 0;
}
.s8 {
  padding: 0 8px 0 0;
}
.s12 {
  padding: 0 12px 0 0;
}
.s16 {
  padding: 0 16px 0 0;
}
.s20 {
  padding: 0 20px 0 0;
}

.inline {
  display: inline;
}

.top.s4 {
  padding: 4px 0 0;
}
.top.s8 {
  padding: 8px 0 0;
}
.top.s12 {
  padding: 12px 0 0;
}
.top.s16 {
  padding: 16px 0 0;
}
.top.s20 {
  padding: 20px 0 0;
}

@media all and (min-width: 320px) and (max-width: 1023px) {
  .m4 {
    padding: 0 4px 0 0;
  }
  .m8 {
    padding: 0 8px 0 0;
  }
  .m12 {
    padding: 0 12px 0 0;
  }
  .m16 {
    padding: 0 16px 0 0;
  }
  .m20 {
    padding: 0 20px 0 0;
  }

  .top.m4 {
    padding: 4px 0 0;
  }
  .top.m8 {
    padding: 8px 0 0;
  }
  .top.m12 {
    padding: 12px 0 0;
  }
  .top.m16 {
    padding: 16px 0 0;
  }
  .top.m20 {
    padding: 20px 0 0;
  }
}

@media all and (min-width: 1024px) and (max-width: 1539px) {
  .t4 {
    padding: 0 4px 0 0;
  }
  .t8 {
    padding: 0 8px 0 0;
  }
  .t12 {
    padding: 0 12px 0 0;
  }
  .t16 {
    padding: 0 16px 0 0;
  }
  .t20 {
    padding: 0 20px 0 0;
  }

  .top.t4 {
    padding: 4px 0 0;
  }
  .top.t8 {
    padding: 8px 0 0;
  }
  .top.t12 {
    padding: 12px 0 0;
  }
  .top.t16 {
    padding: 16px 0 0;
  }
  .top.t20 {
    padding: 20px 0 0;
  }
}

@media all and (min-width: 1540px) {
  .d4 {
    padding: 0 4px 0 0;
  }
  .d8 {
    padding: 0 8px 0 0;
  }
  .d2 {
    padding: 0 12px 0 0;
  }
  .d16 {
    padding: 0 16px 0 0;
  }
  .d20 {
    padding: 0 20px 0 0;
  }

  .top.d4 {
    padding: 4px 0 0;
  }
  .top.d8 {
    padding: 8px 0 0;
  }
  .top.d12 {
    padding: 12px 0 0;
  }
  .top.d16 {
    padding: 16px 0 0;
  }
  .top.d20 {
    padding: 20px 0 0;
  }
}
