.controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px 20px;
}

.karmaCounter > * + * {
  padding: 0 0 0 4px;
}

.karmaValue {
  color: var(--greyC4);
}

svg.down {
  transform: rotate(180deg);
}

.commentsButton {
  display: flex;
  align-items: normal;
}

.commentsButton * {
  color: var(--greyC4);
}

.commentNumber {
  padding: 0 0 0 6px;
  font-size: 12px;
  line-height: 14px;
}

.actions {
  display: flex;
  flex-flow: row nowrap;
}
.actions > * + * {
  margin: 0 0 0 13px;
}

.saveButton,
.shareButton {
  width: 20px;
  height: 20px;
}

@media all and (min-width: 1024px) {
  .publishedLabel {
    display: inline;
  }

  .controls {
    order: 3;
    flex: 0 0;
    margin: 0 0 0 24px;
  }

  .actions {
    display: none;
  }

  .karmaCounter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
  }
  .karmaCounter > * + * {
    padding: 7px 0 0;
  }

  .karmaValue {
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
  }

  .commentsButton {
    display: none;
  }
}

@media all and (min-width: 1540px) {
  .karmaCounter > button.up:hover > svg > path {
    fill: var(--green);
  }

  .karmaCounter > button.down:hover > svg > path {
    fill: var(--orange);
  }

  .controls {
    position: relative;
  }
}
