.menuItemsList {
  padding: 0 20px;
}

.menuItem {
  padding: 12px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.menuItem > span {
  margin-right: 7px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--greyEC);
}

.mobile {
  display: none;
}

@media all and (min-width: 1024px) {
  .mobile {
    display: block;
  }
}
